html {
    margin: 20px;
}

body {
    color: #474368;
    font-weight: 300;
    font-family: "Bebas Neue";
    src: url(rachelcaisi.github.io/BebasNeue.otf);
}

p {
    color: #474368;
    font-size: 18px;
    font-weight: 150;
    font-family: "Arial";
}

img {
    width: 50%;
    height: 50%;
    padding: 10px;
}
/* NAV BAR */

  ul {
    list-style-type: none;
    margin-left: 200px;
    margin-top: 0;
    padding-left: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    color: #474368;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;

  }

  li a:hover {
    color: #A0D2DB;  
    text-decoration: none;  
    font-size: 25px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;

    transition: width 2s linear 1s;
  }

  li a:active {
    color: #A0D2DB;
  }

  li a:visited {
    color: #487;
    text-decoration: none;
  }


/* FONTS */

h1 {    
    font-size:35px;
    color: #474368;
    margin-top: 0;
    margin-left:0;
}

 h1 a {
    color: #474368;
    text-decoration: none;
}
h1 a:hover {
    font-size:30px;
    color: #A0D2DB;    
}

h1 a:visited {
    font-size:30px;
    color: #474368;    

}


h2 {
    font-size: 25px;
    font-weight: 150;
    color: #474368;

}
h2 a {
    color: #474368;
    text-decoration: none;
}

h2 a:hover {
    color: #A0D2DB;

}

h2 a:visited {
    color: #474368;   

}

/* PHOTOGRAPHY COLUMNS */
.column {
    float: left;
    width: 50%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* INDEX PAGE PHOTOS */

#slides {
    position:relative;
    height:500px;
    width:600px;
    margin:0 auto;
}

#slides img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  #slides img.top:hover {
    opacity:0;
  }

.navBar {
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 100%;
}

.navBar a{
    float: right;
    display: block;
    color: #474368;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;

}

.navBar a:hover {
    color: #A0D2DB;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;

    transition: width 2s linear 1s;
}


.main {
    margin-top: 30px;
}